name: docs-gh-pages 

on:
  release:
    types: [published]
  push:
    branches:
    - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install infinity_emb with mkdocs
        run: |
          pip install poetry 
          poetry config virtualenvs.create false
          cd libs/infinity_emb && POETRY_VIRTUALENVS_CREATE=false POETRY_VIRTUALENVS_IN_PROJECT=false poetry install --extras "server" --with mkdocs
      - name: get version
        run: |
          python -c 'import infinity_emb; print(infinity_emb.__version__)'
          echo "INFINITY_VERSION=$(python -c 'import infinity_emb; print(infinity_emb.__version__)')" >> $GITHUB_ENV
      - name: Build and Deploy Release
        # only if the release is published
        if: github.event_name == 'release' && github.event.action == 'published'
        run: |
          cd docs
          mike deploy --push --update-aliases $INFINITY_VERSION latest --alias-type=redirect
      - name: Build and Deploy Dev/main
        # only if dev/main branch is pushed
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          cd docs
          mike deploy --push --update-aliases main