---
name: libs/infinity_emb - Release docker

on:
  release:
    types: [published]

env:
  POETRY_VERSION: "1.7.1"
  WORKDIR: "libs/infinity_emb"

jobs:
  docker-container-push-nvidia:
    uses:
      ./.github/workflows/release_docker_container.yaml
    with:
      # working-directory: libs/infinity_emb
      dockerfile: libs/infinity_emb/Dockerfile.nvidia_auto
      image: michaelf34/infinity
      appendix_tag: ""
      platforms: "linux/amd64,linux/arm64"
    secrets: inherit
  
  docker-container-push-cpu:
    uses:
      ./.github/workflows/release_docker_container.yaml
    with:
      # working-directory: libs/infinity_emb
      dockerfile: libs/infinity_emb/Dockerfile.cpu_auto
      image: michaelf34/infinity
      appendix_tag: "-cpu"
      platforms: "linux/amd64"
    secrets: inherit
  
  # docker-container-push-amd:
  #   uses:
  #     ./.github/workflows/release_docker_container.yaml
  #   with:
  #     # working-directory: libs/infinity_emb
  #     dockerfile: libs/infinity_emb/Dockerfile.amd_auto
  #     image: michaelf34/infinity
  #     appendix_tag: "-amd"
  #     platforms: "linux/amd64"
  #   secrets: inherit

  modal-deploy:
    uses:
      ./.github/workflows/release_modal_com.yaml
    secrets: inherit