on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
        description: "From which folder this pipeline executes"
      upload_coverage:
        description: 'Wheather to upload coverage report to codecov or not'
        required: false
        type: boolean
        default: true

env:
  POETRY_VERSION: "1.6.1"


jobs:
  build-linux:
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"

    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }} + Poetry ${{ env.POETRY_VERSION }}
        uses: "./.github/actions/poetry_setup"
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ env.POETRY_VERSION }}
          working-directory: ${{ inputs.working-directory }}
          cache-key: core

      - name: Install dependencies
        shell: bash
        run: poetry install --extras all --with test

      - name: Run Pytest Coverage
        run: |
          poetry run coverage run -m --source ./infinity_emb pytest tests 
          poetry run coverage xml

      - name: Upload coverage Report to Codecov for python 3.10
        if: ${{ matrix.python-version == '3.10' && inputs.upload_coverage == true }}
        uses: codecov/codecov-action@v2